@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
  margin: 0 auto;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}

html {
  background: linear-gradient(rgba(0, 0, 0, 0.627),rgba(0, 0, 0, 0.5)) , url(/images/home-bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

.container {
  width: 100%;
  height: 100%;
  /* css smooth */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.nav-group {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  list-style-type: none;
  margin: 5px;
  padding: 20px;
  font-size: 30px;
}

.navbar li{
  display: inline-block;
}

.navbar li a {
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar li a:hover {
  background-color: rgb(105, 7, 7);
}

.navbar li a:active {
  background-color: rgb(105, 7, 7);
}

label {
  margin: 0 40px 0 0;
  font-size: 20px;
  line-height: 70px;
}

#toggle {
  display: none;
}

.top-arrow {
  margin-top: 80px;
}


#matt10-logo {
  width: 10%;
  float: right;
}

.side-logos {
  position: fixed;
  float: left;
}

.side-logos li {
  list-style-type: none;
  padding: 25px;
  margin-top: 200px;
}

.side-logos li a:hover {
  background: rgb(105, 7, 7);
  transition: 0.5s ease-in-out;
  border-radius: 30px;
  transform: scaleY(1);
}

#linkedin-logo {
  width: 3rem;
  color: white;
  list-style-type: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

section h1 {
  font-size: 8rem;
  margin-bottom: 5px;
}

section p {
  font-size: 3.5rem;
  width: 80%;
}

/* Section images here */

section#home {
  background-size: cover;
}

section#about {
  background-image: url("/images/about-bg.jpg");
  background-size: cover;
  text-align: left;
}

section#about p {
  font-size: 20px;
  width: 25%;
}

section#skills {
  background-image: url('/images/skills-bg.jpg');
  background-size: cover;
}

#skills-img-group {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 50px;
  margin-top: 50px;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  max-width: 20%;
}

section#projects {
  background-image: url('/images/projects-bg.jpg');
  background-size: cover;
}

/* Project cards */

.card-group {
  display: flex;
  width: 70%;
  background: rgba(0, 0, 0, 0.089);
  border-radius: 10px;
}

.card {
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  position: relative;
}

.card img {
  border-radius: 10px;
}

.card-container {
  display: inline-block;
  justify-content:space-around;
  max-width: 550px;
  max-height: 500px;
}

.card-container h4 {
  font-size: 30px;
  margin-top: 50px;
}

.card-container p {
  font-size: 15px;
  align-items: left;
  width: 100%;
  text-align: left;
  height: 150px;
}

.card-container img {
  display: inline-block;
  object-fit: contain;
  width: 30px;
  justify-content: center;
  padding: 10px;
}

.card-preview ul {
  display: flex;
  width: 350px;
  align-items: center;
  margin: auto;
}

.card-preview li {
  display: inline-block;
  background-color: rgb(37, 36, 36);
  justify-content: space-between;
  width: 35%;
  border-radius: 10px;
  font-weight: bold;
  align-items: center;
  cursor: grab;
}

.card-preview li:hover {
  background-color: rgb(105, 7, 7);
  transition: 0.5s;
}

.card-preview li img {
  vertical-align: middle;
}

.card-preview a {
  text-decoration: none;
  color: white;
}

.tech-stack li {
  display: inline-block;
  max-width: 80px;
  padding: 20px;
  background-color: rgb(37, 36, 36);
  border-radius: 10px;
  font-weight: bold;
  cursor: default;
}

section#contact .row {
  color: white;
}

section#contact .row a {
  text-decoration: none;
  color: white;
}

section#contact .row a:hover {
  background: rgb(105, 7, 7);
  transition: 0.5s ease-in-out;
  border-radius: 30px;
  transform: scaleY(1);
  margin: 10px 10px;
}

section#contact img {
  filter: invert(80%);
}

@media only screen and (min-width: 1200px) and (max-width: 1920px) {
  section#home h1,#about h1, #skills h1, #projects h1 {
    font-size: 70px;
  }

  section#home p {
    font-size: 40px;
  }

  section#about p {
    font-size: 20px;
    width: 70%;
  }
}

@media only screen and (min-width: 835px) and (max-width: 1200px)

{
  section#home h1,#about h1, #skills h1 {
    font-size: 50px;
  }

  .side-logos ul li {
    visibility: hidden;
  }

  section#home p {
    font-size: 20px;
  }

  section#about p {
    font-size: 20px;
    width: 80%;
  }

  #skills-img-group {
    grid-gap: 20px;
  }

  section#projects h1 {
    font-size: 50px;
  }

  section#projects div {
    width: 100%;
  }

}

@media only screen and (min-width: 770px) and (max-width: 835px) {

  body {
    width: 100%;
  }

  .container {
    overflow-y: auto;
    scroll-behavior: auto;
    scroll-snap-type: none;
  }
  
  .navbar, .side-logos {
    display: contents;
    visibility: hidden;
  }

  section#home h1,#about h1, #skills h1 {
    font-size: 50px;
  }

  .side-logos ul li {
    float: left;
    margin-left: 100px;
  }

  section#home p {
    font-size: 20px;
  }

  section#about p {
    font-size: 20px;
    width: 80%;
  }

  #skills-img-group {
    grid-gap: 20px;
  }

  section#projects .card-group, .card,.card-container,.card-preview, ul, li {
    display: block;
  }

  section#projects h1 {
    margin-top: 1900px;
    font-size: 40px;
  }

  section#projects .tech-stack {
    visibility: hidden;
  }

  section#projects .card-preview {
    margin-right: 10px;
  }

  section#projects .card-preview li {
    text-align: center;
    margin-right: 10px;
    width: 40%;
  }

  section#projects .card-container {
    margin-bottom: 100px;
  }

  section#projects .card {
    margin-top: 50px;
  }

  section#contact {
    margin-top: 2000px;
  }

}

@media only screen and (min-width: 200px) and (max-width: 768px) {
  body {
    width: 100%;
    height: 100vh;
  }

  .container {
    scroll-behavior: auto;
    overflow-y: auto;
    scroll-behavior: auto;
    scroll-snap-type: none;
  }

  .side-logos,.navbar li,.arrow {
    visibility: hidden;
  }

  section#home h1,#about h1 {
    font-size: 50px;
  }

  section#home p {
    font-size: 20px;
  }

  section#about p {
    font-size: 20px;
    width: 80%;
  }

  section#skills h1 {
    font-size: 40px;
  }

  #skills-img-group {
    grid-gap: 10px;
  }

  section#projects .card-group, .card,.card-container,.card-preview, ul, li {
    display: block;
  }

  section#projects h1 {
    margin-top: 1900px;
    font-size: 40px;
  }

  section#projects .tech-stack {
    visibility: hidden;
  }

  section#projects .card-preview {
    margin-right: 10px;
  }

  section#projects .card-preview li {
    text-align: center;
    margin-right: 10px;
    width: 40%;
  }

  section#projects .card-container {
    margin-bottom: 100px;
  }

  section#projects .card {
    margin-top: 50px;
  }

  section#contact {
    margin-top: 2000px;
  }

}

@media only screen and (min-width: 200px) and (max-width: 500px) {
  body {
    width: 100%;
    height: 100vh;
  }

  .container {
    scroll-behavior: auto;
    overflow-y: auto;
    scroll-behavior: auto;
    scroll-snap-type: none;
  }

  .side-logos,.navbar li,.arrow {
    visibility: hidden;
  }

  section#home h1,#about h1 {
    font-size: 40px;
  }

  section#home p {
    font-size: 20px;
  }

  section#about p {
    font-size: 15px;
    width: 80%;
  }

  section#skills h1 {
    font-size: 30px;
  }

  #skills-img-group img {
    object-fit:cover;
    width: 50px;
  }

  section#projects .card-group, .card,.card-container,.card-preview, ul, li {
    display: block;
  }

  section#projects h1 {
    margin-top: 1900px;
    font-size: 30px;
  }

  section#projects .tech-stack {
    visibility: hidden;
  }

  section#projects .card-preview {
    margin-right: 10px;
  }

  section#projects .card-preview li {
    text-align: center;
    margin-right: 10px;
    width: 40%;
  }

  section#projects .card-container {
    margin-bottom: 100px;
  }

  section#projects .card {
    margin-top: 50px;
  }

  section#contact {
    margin-top: 2000px;
  }

}
