@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
  margin: 0 auto;
  background: url('https://imagizer.imageshack.com/img923/5821/pSW8Ub.png');
  background-position: center;
  background-size: cover;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

